<div class="section section-dark text-center py-1">
    
    <h2 class="title">Academia</h2>
    <div class="container">
        <h4 class="title text-left my-0">Estudios </h4>

        <owl-carousel-o [options]="customOptions">

            <ng-container *ngFor="let slide of studies">
                <ng-template carouselSlide [id]="slide.id">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#"><img [src]="slide.image" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <div class="author">
                                <h5 class="text-info mt-2">{{slide.title}}</h5>
                                <h6 class="card-category">{{slide.description}}</h6>
                                <p class="card-description text-center">
                                    {{slide.subdescription}}
                                </p>
                            </div>
                        </div>

                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
        <h4 class="title text-left my-0">Certificaciones </h4>
        <div>
            <owl-carousel-o [options]="customOptions">

                <ng-container *ngFor="let slide of certifications">
                    <ng-template carouselSlide [id]="slide.id">
                        <div class="card card-profile card-plain py-1">
                            <div class="card-avatar">
                                <a href="#"><img [src]="slide.image" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <div class="author">
                                    <h5 class="text-info mt-2">{{slide.title}}</h5>
                                    <h6 class="card-category">{{slide.description}}</h6>
                                    <p class="card-description text-center">
                                        {{slide.subdescription}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>

        </div>

    </div>
</div>