<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/images/porta3.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container px-0" style="box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
        border-radius: 15px;">
            <div class="owner" >
                <div class="avatar">
                    <img src="./assets/images/profile1.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Catherine Estrada Ruiz<br /></h4>
                    <h6 class="description">Desarrolladora Web</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto text-center blockquote">
                    <p>Tecnóloga en electrónica y actualmente estudiante en telecomunicaciones. Con conocimientos en desarrollo web y aún aprendiendo en el proceso.
                    <br>
                        Soy una persona activa, responsable, con habilidades para trabajar en equipo, con ideas fundamentales en el desarrollo integral, apasionada por conocer lugares y experiencias nuevas.</p>
                    
                </div>
                <br>
            </div>
            <app-skills></app-skills>
            <app-knowledge style="width: 100%;"></app-knowledge> 
        </div>
    </div>
</div>

