<div class="section">
<div class="container">
    <div class="row justify-content-around">
        <div class="col-md-4">
            <h2 class="text-success  title ">Experiencia laboral</h2>
        </div>
        <div class="col-md-7">
            <div>
                <h4 class="title ">Desarrolladora Web</h4>
                <h6 class="description">Farmatodo / Marzo 2021</h6>
                <p >
                    Hago parte del equipo de desarrollo web para Colombia aplicando habilidades en Angular como framework principal y la implementación de herramientas de marketing como Amplitude braze, Google Analitics des Google Tag Manager.
                 </p>
            </div>
            <div>
                <h4 class="title ">Analista de soporte y herramientas empresariales Cloud</h4>
                <h6 class="description">Sol-IT / Octubre 2019 - marzo 2021</h6>
                <p >
                    Fui consultora  y administradora de herramientas como Microsoft365, Azure AD y Kaspersky para empresas.
                 </p>
            </div>
            <div>
                <h4 class="title ">Pasante</h4>
                <h6 class="description">Agencia Nacional del Espectro ANE / Junio 2019 - diciembre  2020</h6>
                <p >
                   Realicé el estudio documental para desarrollar la política de espectro radioelectrico 2020 - 2024 sobre implementación, regulación, asignación y atribución de espectro y tecnologías 5G.
                 </p>
            </div>
            <div>
                <h4 class="title ">Analista de soporte TI</h4>
                <h6 class="description">DDS Ingeniería / Abril 2018 - septiembre 2019</h6>
                <p >
                  Administré ERPs como Zeus y SAP, implementaciones de arquitectura de red CCTV y domótica y soporte técnico.
                 </p>
            </div>
        </div>
    </div>
</div>
</div>
